.header-logo {
    display: inline-block;
    width: 115px;
    height: 33px;
    cursor: pointer;
}

.header {
    /* box-sizing: border-box */
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
}

.error{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;

}

non-found-wrap  .error-desc {
    font-size: 18px;
    line-height: 1.67;
}

#non-found-wrap .error-wrap .error .error-num {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: publicasans;
    font-size: 180px;
    letter-spacing: -3px;
    color: #181820;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.error p {
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.error-num {
    font-size: 100px;
}

.error-code {
    font-size: 80px;
}

.error-text {
    font-size: 40px;
}

.error-desc {
    font-size: 20px;
}


